*{
  padding: 0;
  margin: 0;
}

body, head {
  font-size: 100%;
  height: 100vh;
  width: 100vw;
}

.body-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0080C3;
  width: 50%;
  height: 100vh;
}

.body-right, .show-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  float: right;
}

.show-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
}

.title-text{
  color: #ffff;
  font-size:200%;
  text-align: center;
  margin-top: 450px;
  max-width: 300px;
}

.space-top{
  margin-top: 50px;
}

.show-text{
  text-align: center;
  color: #000000;
  margin-top: 50px;
}

.img_book,.title-text{
  position: fixed;
  height: 12rem;
}

.logo_fap{
  margin-top: 30px;
}

.student-authors{
  display: grid;
  grid-template: auto auto auto / auto auto;
}

li{
  margin: 10px;
}

/*Body - Element*/

.body-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

/*Page Block*/
.block-page{
  background-color: #0077B6;
  border: #0077B6 solid 1px;
  padding: 70px;
  transform: rotate(-135deg);
}

.element-block{
  position: fixed;
  display: flex;
  left: 120px;
  transform: translate(-50px);
  justify-content: right;
  align-items: center;
  width: 50vw;
  height: 100vh;
}

/*page Circle*/

.circle-page{
  background-color: #0077B6;
  border: #0077B6 solid 1px;
  border-radius: 50%;
  padding: 70px;
}

.element-circleOne{
  margin: 100px 150px 0px 0px;
}

.element-circleTwo{
  margin: 0px 0px 50px 150px;
}
