*{
  padding: 0;
  margin: 0;
}

body, head {
  font-size: 100%;
  height: 100vh;
  width: 100vw;
}

.body-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0080C3;
  width: 50%;
  height: 100vh;
}

.body-right, .show-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  float: right;
}

.show-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
}

.title-text{
  color: #ffff;
  font-size:200%;
  text-align: center;
  margin-top: 50px;
  max-width: 300px;
}

.space-top{
  margin-top: 50px;
}

.show-text{
  text-align: center;
  color: #000000;
  margin-top: 50px;
}

.img_book{
  height: 30%;
}

.logo_fap{
  margin-top: 30px;
}

.student-authors{
  display: grid;
  grid-template: auto auto auto / auto auto;
}

li{
  margin: 10px;
}

/*Body - Element*/

.block-page{
  background-color: #0077B6;
  width: 167px;
  height: 167px;
}

.element-block{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: rotate(-135deg);
}
