*{
  padding: 0px;
  margin: 0px;
  font-size: 100%;
}

.body-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  float: left;
  background-color: #0080C3;
}

.body-right, .show-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}

.show-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
}

.title-text{
  color: #ffff;
  font-size: 200%;
  text-align: center;
  margin-top: 500px;
  max-width: 300px;
}

.space-top{
  margin-top: auto;
}

.show-text-start{
  display: none;
}

.show-text{
  text-align: center;
  color: #000000;
}

.img_book,.title-text{
  position: fixed;
  height: 15rem;
}

.logo_fap-top{
  display: none;
}

.student-authors{
  display: flex;
}

li{
  list-style: none;
  cursor: grab;
  margin: 10px;
  transition: 300ms;
}

li:hover{
  color:#0080C3;
}

/*Body - Element*/

.body-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

/*Page Block*/
.block-page{
  background-color: #0077B6;
  border: #0077B6 solid 1px;
  padding: 70px;
  transform: rotate(-135deg);
}

.element-block-botton{
  display: none;
}

.element-block{
  position: absolute;
  display: flex;
  margin-left: 140px;
  justify-content: end;
  align-items: center;
  width: 50%;
}

/*page Circle*/

.circle-page{
  background-color: #0077B6;
  border: #0077B6 solid 1px;
  border-radius: 50%;
  padding: 70px;
}

.element-circleOne{
  margin: 100px 150px 0px 0px;
}

.element-circleTwo{
  margin: 0px 0px 50px 150px;
}
